<div class="content">
  <div data-aos="fade-up" class="header_box header_box-estancos">
    <h1 class="header_box-title">ESTANCOS</h1>
  </div>
  <div data-aos="fade-up" class="content_estancos">
    <div class="content_estancos-poster">
      <img class="estancos_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    </div>
      <div class="title_1">
        <h1>Nuestra Historia</h1>
        <div class="info">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis veritatis qui dolore libero consectetur dolores nostrum odio suscipit. Perferendis quisquam corrupti amet quibusdam odit vel, ut alias ex ducimus excepturi!</h3>
        </div>
      </div>
  </div>
  <div class="content_bottom">
    <a> Ver más </a>
  </div>
</div>
