<div class="content">
  <div data-aos="fade-up" class="header_box header_box-estancos">
    <h1 class="header_box-title">CONOCE A ESTANCOS</h1>
  </div>
  <div data-aos="fade-up" class="content_estancos">
    <div class="content_estancos-poster">
      <img class="estancos_image" src="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/estancos%2FInsumonL.jpg?alt=media&token=93be7a38-7e79-4cbb-9a42-3bdaa5c25491" alt="">
    </div>
      <div class="title_1">
        <h1>Estilo Estancos</h1>
        <div class="info">
          <h3>Estancos es una sátira hacia las políticas impuestas por el rey y posteriormente adopatadas por gobiernos democráticos de la república, que buscaban restringir la libertad de producción y comercialización de alcohol.</h3>
        </div>
      </div>
  </div>
  <div class="content_bottom">
    <a> Ver más </a>
  </div>
</div>
