.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_estancos {
  width: 317px;
  height: 264px;
  border-radius: 47px;
  border: 1px solid var(--main-color);
  margin-bottom: 25px;
  overflow: hidden;
  transition: 0.5s;
  text-decoration: none;
}

.content_title {
  position: relative;
  width: 152px;
  height: 132px;
}

.content_estancos:hover {
  transition-delay: 0.5s;
  box-shadow: 0 0 50px var(--main-color);
}

// .content_estancos:before {
//   content: '';
//   position: absolute;
//   top: 0;
// 	left: 0;
// 	width: 10px;
// 	height: 10px;
// 	border-top: 2px solid var(--main-color);
// 	border-left: 2px solid var(--main-color);
// 	transition: 0.5s;
// 	transition-delay: 0.5s;
// }

// .content_estancos:hover:before {
//   width: 100%;
// 	height: 100%;
// 	transition-delay: 0s;
// }

// .content_estancos:after {
//   content: '';
// 	position: absolute;
// 	bottom: 0;
// 	right: 0;
// 	width: 10px;
// 	height: 10px;
// 	border-bottom: 2px solid var(--main-color);
// 	border-right: 2px solid var(--main-color);
// 	transition: 0.5s;
// 	transition-delay: 0.5s;
// }

// .content_estancos:hover:after {
//   width: 100%;
// 	height: 100%;
// 	transition-delay: 0s;
// }

a {
  font-style: bold;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  text-align: center;
  position: relative;
  width: 142px;
  height: 112px;
  background-color: var(--background-color);
  color: var(--main-color);
}

.estancos_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.4;
}

.title_1{
    position: absolute;
    top: 40%;
    left: 15%;
}

.title_2{
  position: absolute;
  top: 40%;
  left: 15%;
}

.title_3{
  position: absolute;
  width: 75%;
  text-align: center;
  top: 18%;
  left: 12%;
}

@media (min-width: 426px) {
  .content_estancos {
    width: 85%;
    height: 315px;
  }
  .title_1{
    left: 31%;
  }
  .title_2{
    left: 33%;
  }
  .title_3{
    top: 33%;
  }
}


// #estancos_2 {
//   h3 {
//     transform: translate(60%, 50%);
//   }
// }

// #estancos_2:before {
//   background-image: url("https://drive.google.com/uc?export=view&id=1Bin5V4Yf20Y8U-roExhgmVx7jH3XtV6k");
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.4;
// }

// #estancos_3 {
//   h3 {
//     width: 215px;
//     transform: translate(25%, 40%);
//   }
// }

// #estancos_3:before {
//   background-image: url("https://drive.google.com/uc?export=view&id=1c5nNN0GSjo8DdGjh7HCe6zQgXmF1eJ5K");
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.4;
// }

