<div class="header">
  <a routerLink="/home"><img class="header_logo" src="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/logotipos%2FLOGO-ESTANCOS_3A_384X384.png?alt=media&token=47a3c895-9c50-4561-8b7b-d6d159c0b0cb" alt="logo_estancos"></a>
  <img class="header_menu" src="./../../../assets/buttons/menu.png" alt="menu">
  <div class="menu">
    <ul>
      <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
      <li><a href="">Cocteles</a></li>
      <li><a href="">Estancos</a></li>
      <li><a href="">Destilería</a></li>
      <li><a href="">Contenidos</a></li>
    </ul>
  </div>
</div>
