<div class="content">
  <div data-aos="fade-up" class="header_box header_box-contenido">
    <h1 class="header_box-title">NUESTROS CONTENIDOS</h1>
  </div>
  <div data-aos="fade-up" class="content_contenidos">
    <img class="contenidos_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_1">
      <a [routerLink]="['/blog']">Blog</a>
    </div>
  </div>
  <div data-aos="fade-up" class="content_contenidos">
    <img class="contenidos_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_2">
      <a [routerLink]="['/arte']">Arte</a>
    </div>
  </div>
</div>
