<div class="content">
  <div data-aos="fade-up" class="content_contenidos">
    <img class="contenidos_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_1">
      <a>Instalaciones</a>
    </div>
  </div>
  <div data-aos="fade-up" class="content_contenidos">
    <img class="contenidos_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_2">
      <a>Procesos</a>
    </div>
  </div>
</div>
