<div class="content">
  <div class="header">
    <img class="header_logo" src="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/logotipos%2FLOGO-ESTANCOS_3A_384X384.png?alt=media&token=47a3c895-9c50-4561-8b7b-d6d159c0b0cb" alt="logo_estancos">
    <div class="header_title">
      <h1>ESTANCOS</h1>
      <h3>DISTILLING COMPANY S.A.S.</h3>
    </div>
  </div>
  <div class="header_message">
    <h1>Tu fecha de nacimiento es importante para nosotros</h1>
  </div>
  <div class="birthDate">
    <div class="form">
      <h2>Ingresa tu fecha de nacimiento</h2>
      <div class="form_input">
        <div class="input_box">
          <!-- <input class="dateInput" type="date" [formControl]="dateField"> -->
          <input type="text" [formControl]="dateDay" required="required">
          <span>DD</span>
          <i></i>
        </div>
        <div class="input_box">
          <input type="text" [formControl]="dateMonth" required="required">
          <span>MM</span>
          <i></i>
        </div>
        <div class="input_box">
          <input type="text" [formControl]="dateYear" required="required">
          <span>YYYY</span>
          <i></i>
        </div>
      </div>
      <div class="message_content">
        <p>El consumo excesivo de alcohol puede ser peligroso para la salud</p>
      </div>
      <div class="btnIn">
        <button (click)="dmytoDate()">Entrar</button>
      </div>
      <div class="slogan">
        <h1>El arte en cada gota</h1>
      </div>
    </div>
  </div>
  <div class="social_media">
    <ul>
      <li style="--clr:#1877f2;">
        <a href="https://www.facebook.com/EstancosDistillingCompany" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li style="--clr:#c32aa3;">
        <a href="https://www.instagram.com/estancosdistillingcompany/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li style="--clr:#ff0000;">
        <a href="https://www.youtube.com/@estancosdistillingcompany" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </li>
      <li style="--clr:#ffffff;">
        <a href="https://www.tiktok.com/@estancosdc" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
      </li>
      <li style="--clr:#25d366;">
        <a href="https://api.whatsapp.com/send?phone=+593998581721&text=Buen%20día%20deseo%20saber%20sobre" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
      </li>
    </ul>
  </div>
</div>
