<div class="content">
  <div data-aos="fade-up" class="header_box header_box-destileria">
    <h1 class="header_box-title">DESCUBRE LA DESTILERÍA</h1>
  </div>
  <div class="content_destileria">
    <div data-aos="fade-up" class="content_destileria">
      <div class="content_destileria-poster">
        <img class="destileria_image" src="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/estancos%2FInsumonL.jpg?alt=media&token=93be7a38-7e79-4cbb-9a42-3bdaa5c25491" alt="">
      </div>
        <div class="title_1">
          <h1>Visita nuestra destileria</h1>
          <div class="info">
            <h3>Descubre el lugar donde convertimos en arte cada gota de nuestros deliciosos añejos.</h3>
          </div>
        </div>
    </div>
  </div>
  <div class="content_bottom">
    <a> Ver más </a>
  </div>
</div>
