<div class="content">
  <div class="content_destileria">
    <img class="destileria_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_1">
      <a>Instalaciones</a>
    </div>
  </div>
  <div class="content_destileria">
    <img class="destileria_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_2">
      <a>Procesos</a>
    </div>
  </div>
  <div class="content_destileria">
    <img class="destileria_image" src="https://drive.google.com/uc?export=view&id=18857oNIwYBQfh64nfZZtOGPQjhLp1c94" alt="">
    <div class="title_3">
      <a>Visitas</a>
    </div>
  </div>
</div>
