.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_destileria {
  width: 317px;
  height: 264px;
  text-decoration: none;
  border-radius: 47px;
  border: 1px solid var(--main-color);
  margin-bottom: 25px;
  overflow: hidden;
  transition: 0.5s;
}

.content_destileria:hover {
  transition-delay: 0.5s;
  box-shadow: 0 0 50px var(--main-color);
}

a {
  font-style: bold;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  text-align: center;
  position: relative;
  width: 142px;
  height: 112px;
  background-color: var(--background-color);
  color: var(--main-color);
}

.destileria_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.4;
}

.title_1{
    position: absolute;
    top: 32%;
    left: 26%;
}

.title_2{
  position: absolute;
  top: 134%;
  left: 34%;
}

.title_3{
  position: absolute;
  width: 75%;
  text-align: center;
  top: 231%;
  left: 12%;
}

@media (min-width: 426px) {
  .content_destileria {
    width: 85%;
    height: 315px;
  }
  .title_1{
    top: 45%;
    left: 36%;
  }
  .title_2{
    top: 160%;
    left: 40%;
  }
  .title_3{
    top: 278%;
    left: 11%;
  }
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .content_destileria {
    width: 48%;
  }
  .title_1{
    left: 16%;
  }
  .title_2{
    top: 45%;
    left: 67%;
  }
  .title_3{
    top: 165%;
    left: 13%;
  }
}
