.content {
  background: var(--background-color);
}
.landing_header {
  position: relative;
    width: 100%;
    height: 76.5vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        pointer-events: none;
    }
    #piramide {
      width: 104%;
      margin-left: -1%;
      margin-top: 10%;
    }
    #home_logo {
      top: 2px;
      left: 35%;
      width: 78%;
    }
}

.content_support {
  background: var(--background-color);
  width: 100%;
  height: 84vh;
}

.content_support_large {
  background: var(--background-color);
  width: 100%;
  height: 185vh;
}

.content_support_medium {
  background: var(--background-color);
  width: 100%;
  height: 135vh;
}

.header{
  width: 100%;
  height: auto;
}

.header_box {
  width: 50%;
  height: 8vh;
/* linesquare */
border: 1px solid var(--main-color);
box-shadow: 2px 1px 1px 1px var(--main-color);
}

.header_box-products {
  position: absolute;
  left: 26px;
  top: 605px;
}

.header_box-title {
  box-sizing: border-box;
  position: absolute;
  width: 147px;
  height: 42px;
  left: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: var(--main-color);
}

.section_content {
  height: 295px;
  display: flex;
  width: 100%;
  transform: translateY(140px);
  padding: 0px 17px;
  .section {
    width: 100%;
  }
}

.header_box-cocteles {
  position: absolute;
  left: 26px;
  top: 1150px;
}

.header_box-estancos {
  position: absolute;
  left: 26px;
  top: 1680px;
}

.header_box-destileria {
  position: absolute;
  left: 26px;
  top: 2860px;
}

.header_box-contenido {
  position: absolute;
  left: 26px;
  top: 4040px;
}

@media (min-width: 426px) {
  .landing_header {
      height: 100vh;
      #piramide {
        width: 75%;
        margin-left: -1%;
        margin-top: 10%;
      }
      #home_logo {
        top: 2px;
        left: 35%;
        width: 78%;
      }
  }
  .header_box-products {
    top: 120%;
  }
  .header_box-cocteles {
    top: 205%;
  }
  .header_box-estancos {
    top: 290%;
  }
  .header_box-destileria {
    top: 480%;
  }
  .header_box-contenido {
    top: 660%;
  }
}
