.content {
  background: var(--background-color);
}
.landing_header {
  position: relative;
    width: 100%;
    height: 62vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        pointer-events: none;
    }
    #piramide {
      width: 104%;
      margin-left: -1%;
      margin-top: 10%;
    }
    #piramide2 {
      display: none;
    }
    #home_logo {
      top: 2px;
      left: 35%;
      width: 78%;
    }
}

.content_support {
  background: var(--background-color);
  width: 100%;
  height: 60vh;
}

.content_support_large {
  background: var(--background-color);
  width: 100%;
  height: 135vh;
}

.content_support_medium {
  background: var(--background-color);
  width: 100%;
  height: 100vh;
}
.footer_content {
  background: var(--background-color);
  width: 100%;
  height: 130vh;
}

.header{
  width: 100%;
  height: auto;
}

.header_box {
  width: 50%;
  height: 6vh;
/* linesquare */
border: 1px solid var(--main-color);
box-shadow: 2px 1px 1px 1px var(--main-color);
}

.header_box-products {
  position: absolute;
  left: 26px;
  top: 70%;
}

.header_box-title {
  box-sizing: border-box;
  position: absolute;
  width: 147px;
  height: 42px;
  left: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: var(--main-color);
}

.section_content {
  height: 295px;
  display: flex;
  width: 100%;
  transform: translateY(140px);
  padding: 0px 17px;
  .section {
    width: 100%;
  }
}

.header_box-cocteles {
  position: absolute;
  left: 26px;
  top: 130%;
}


@media (min-width: 426px) {
  .landing_header {
      height: 83vh;
      #piramide {
        width: 75%;
        margin-left: -1%;
        margin-top: 10%;
      }
      #home_logo {
        top: 2px;
        left: 35%;
        width: 78%;
      }
  }
  .header_box-products {
    top: 98%;
  }
  .header_box-cocteles {
    top: 154%;
  }
  .header_box-estancos {
    top: 210%;
  }
  .header_box-destileria {
    top: 336%;
  }
  .header_box-contenido {
    top: 465%;
  }
  .content_support {
    height: 55vh;
  }
  .content_support_large {
    height: 125vh;
  }
  .content_support_medium {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  .landing_header {
    height: 67vh;
    #piramide {
      width: 45%;
      margin-top: 17%;
    }
    #home_logo {
      left: 11%;
    }
    #piramide2 {
      display: flex;
      width: 45%;
      transform: rotateY(180deg);
      margin-left: 56%;
      margin-top: 17%;
    }
  }
  .header_box {
    display: flex;
    align-items: center;
    .header_box-title {
      font-size: 35px;
    }
  }
  .header_box-products {
    top: 87%;
  }
  .header_box-cocteles {
    top: 154%;
  }
  .header_box-estancos {
    top: 224%;
  }
  .header_box-destileria {
    top: 314%;
  }
  .header_box-contenido {
    top: 406%;
  }
  .content_support {
    height: 67vh;
  }
  .content_support_large {
    height: 90vh;
  }
  .content_support_medium {
    height: 55vh;
  }
  .footer_content {
    height: 70vh;
  }
}
