<!-- seccion inicial -->
<div class="content">
  <app-header></app-header>
  <div class="landing_header">
    <img id="piramide" src="../../../../assets/piramide.png" alt="piramide">
    <img data-aos="flip-left" id="home_logo" src="https://drive.google.com/uc?export=view&id=1Bin5V4Yf20Y8U-roExhgmVx7jH3XtV6k" alt="logo_estancos">
  </div>
</div>
<!-- seccion producto -->
<div class="content_support">
  <div class="header product_header">
    <div data-aos="fade-up" class="header_box header_box-products">
      <h1 class="header_box-title">PRODUCTOS</h1>
    </div>
    <div class="section_content">
      <app-productos class="section" data-aos="fade-up"></app-productos>
    </div>
  </div>
</div>
<!-- seccion cocteles -->
<div class="content_support">
  <div class="header coctel_header">
    <div data-aos="fade-up" class="header_box header_box-cocteles">
      <h1 class="header_box-title">COCTELES</h1>
    </div>
    <div class="section_content">
      <app-cocteles class="section" data-aos="fade-up"></app-cocteles>
    </div>
  </div>
</div>
<!-- seccion estancos -->
<div class="content_support_large">
  <div class="header estancos_header">
    <div data-aos="fade-up" class="header_box header_box-estancos">
      <h1 class="header_box-title">ESTANCOS</h1>
    </div>
    <div class="section_content">
      <app-estancos class="section" data-aos="fade-up"></app-estancos>
    </div>
  </div>
</div>
<!-- seccion destileria -->
<div class="content_support_large">
  <div class="header destileria_header">
    <div data-aos="fade-up" class="header_box header_box-destileria">
      <h1 class="header_box-title">DESTILERÍA</h1>
    </div>
    <div class="section_content">
      <app-destileria class="section" data-aos="fade-up"></app-destileria>
    </div>
  </div>
</div>
<!-- seccion contenidos -->
<div class="content_support_medium">
  <div class="header contenido_header">
    <div data-aos="fade-up" class="header_box header_box-contenido">
      <h1 class="header_box-title">CONTENIDOS</h1>
    </div>
    <div class="section_content">
      <app-contenidos class="section" data-aos="fade-up"></app-contenidos>
    </div>
  </div>
</div>
<!-- seccion footer -->
<div class="content_support_medium">
  <app-footer></app-footer>
</div>
