<!-- seccion inicial -->
<div class="content">
  <app-header></app-header>
  <div class="landing_header">
    <img id="piramide" src="../../../../assets/piramide.png" alt="piramide">
    <picture>
      <source media="(min-width: 1024px)" srcset="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/logotipos%2FLOGO-ESTANCOS_3F_2560X1440.png?alt=media&token=43dd9c89-28b6-4ca9-8615-dd914e464bca">
      <img data-aos="flip-left" id="home_logo" src="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/logotipos%2FLOGO-ESTANCOS_3B_512X512.png?alt=media&token=d5a69989-8783-4dd3-970e-0bb679ecd01d" alt="logo_estancos">
    </picture>
    <img id="piramide2" src="../../../../assets/piramide.png" alt="piramide">
  </div>
</div>


<!-- seccion producto -->
<div class="content_support">
  <div class="header product_header">
    <app-products></app-products>
  </div>
</div>


<!-- seccion cocteles -->
<div class="content_support">
  <div class="header coctel_header">
    <app-coctels></app-coctels>
  </div>
</div>



<!-- seccion estancos -->
<div class="content_support">
  <div class="header estancos_header">
    <div class="section_content">
      <app-estancos class="section" data-aos="fade-up"></app-estancos>
    </div>
  </div>
</div>


<!-- seccion destileria -->
<div class="content_support">
  <div class="header destileria_header">
    <div class="section_content">
      <app-destileria class="section" data-aos="fade-up"></app-destileria>
    </div>
  </div>
</div>


<!-- seccion contenidos -->
<div class="content_support_medium">
  <div class="header contenido_header">
    <div class="section_content_contenidos">
      <app-contenidos class="section" data-aos="fade-up"></app-contenidos>
    </div>
  </div>
</div>


<!-- seccion footer -->
<div class="footer_content">
  <app-footer></app-footer>
</div>
