.content {
  background: var(--background-color);
}
.landing_header {
  position: relative;
    width: 100%;
    height: 76.5vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        pointer-events: none;
    }
    #piramide {
      width: 104%;
      margin-left: -1%;
      margin-top: 10%;
    }
    #home_logo {
      top: 2px;
      left: 35%;
      width: 78%;
    }
}

.content_support {
  background: var(--background-color);
  width: 100%;
  height: 84vh;
}

.header{
  width: 100%;
  height: auto;
}

.header_box {
  width: 50%;
  height: 8vh;
/* linesquare */
border: 1px solid #D5BB60;
box-shadow: 2px 1px 1px 1px #D5BB60;
}

.header_box-products {
  position: absolute;
  left: 26px;
  top: 545px;
}

.header_box-title {
  box-sizing: border-box;
  position: absolute;
  width: 147px;
  height: 42px;
  left: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #D5BB60;
}

.section_content {
  height: 295px;
  display: flex;
  width: 100%;
  transform: translateY(140px);
  padding: 0px 17px;
  .section {
    width: 100%;
  }
}

.header_box-cocteles {
  position: absolute;
  left: 26px;
  top: 1010px;
}
