<div class="working-page">
  <div class="content">
    <section>
      <div class="header_content">
        <app-header></app-header>
      </div>
      <div class="scroll" style="--d:25;--y:200;">
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
      </div>
      <div class="scroll" style="--d:-25;--y:400;">
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
      </div>
      <div class="scroll_image">
        <img src="https://firebasestorage.googleapis.com/v0/b/estancosdistillingcompany.appspot.com/o/logotipos%2FLOGO-ESTANCOS_3B_512X512.png?alt=media&token=d5a69989-8783-4dd3-970e-0bb679ecd01d" alt="">
      </div>
      <div class="scroll" style="--d:15;--y:500;">
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
      </div>
      <div class="scroll" style="--d:-5;--y:50;">
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
        <div class="cross-line">
          <span>
            Page under construction - Page under construction
            - Page under construction - Page under construction
            - Page under construction - Page under construction -
          </span>
        </div>
      </div>
    </section>
  </div>
</div>
