<div class="content">
  <div class="header">
    <div class="header_menu">
      <app-header></app-header>
    </div>
    <div class="header_product">
      <img src="{{licor.img}}" alt="{{licor.producto}}">
      <div class="header_product_content">
        <h1>{{licor.descripcion}}</h1>
          <div class="btnCata">
            <a href="">Comprar</a>
          </div>
      </div>
    </div>
  </div>
  <!-- Notas de cata -->
  <div class="notas_cata">
    <h1>NOTAS DE CATA</h1>
    <div class="notas_cata_boxes">
      <div class="notas_cata_box">
        <div class="notas_cata_imgBx">
          <img src="https://i.imgur.com/hx2VUdP.jpg" alt="">
        </div>
        <div class="notas_cata_content">
          <h3>Vista</h3>
          <p>{{licor.notasCata?.vista}}</p>
        </div>
      </div>
      <div class="notas_cata_box">
        <div class="notas_cata_imgBx">
          <img src="https://i.imgur.com/hx2VUdP.jpg" alt="">
        </div>
        <div class="notas_cata_content">
          <h3>Olfato</h3>
          <p>{{licor.notasCata?.olfato}}</p>
        </div>
      </div>
      <div class="notas_cata_box">
        <div class="notas_cata_imgBx">
          <img src="https://i.imgur.com/hx2VUdP.jpg" alt="">
        </div>
        <div class="notas_cata_content">
          <h3>Gusto</h3>
          <p>{{licor.notasCata?.gusto}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Maridajes -->
  <div class="maridaje">
    <div class="maridaje_title">
      <h1>Maridaje</h1>
    </div>
    <app-maridajes></app-maridajes>
  </div>
  <!-- Cocteles -->
  <div class="coctels">
    <app-coctels></app-coctels>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
