/* You can add global styles to this file, and also import other style files */
:root {
  /* Colores */
  --background-color: linear-gradient(180.03deg, #000000 44.54%, #494848 128.7%);
  --main-color: #D5BB60;
}

/* Cambios generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Perpetua", sans-serif;
}

// distribución de columnas por tamaño de pantalla

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 425px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
