<div class="content">
  <div class="header">
    <img src="../../../assets/reservedRights.png" alt="derechosReservador">
  </div>
  <div class="alert">
    <p>El consumo excesibo de alcohol puede causar daños a su salud</p>
  </div>
  <div class="footer_menu">
    <ul>
      <li style="--i:5;"><a href="#"><span></span> Productos</a></li>
      <li style="--i:4;"><a href="#"><span></span> Cocteles</a></li>
      <li style="--i:3;"><a href="#"><span></span> Estancos</a></li>
      <li style="--i:2;"><a href="#"><span></span> Destilería</a></li>
      <li style="--i:1;"><a href="#"><span></span> Contenidos</a></li>
    </ul>
  </div>
  <div class="separador">
    <img src="../../../assets/separador.png" alt="">
    <a href=""><p>Contactanos</p></a>
  </div>
  <div class="social_media">
    <ul>
      <li style="--clr:#1877f2;">
        <a href="https://www.facebook.com/EstancosDistillingCompany"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li style="--clr:#c32aa3;">
        <a href="https://www.instagram.com/estancosdistillingcompany/"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li style="--clr:#ff0000;">
        <a href="https://www.youtube.com/@estancosdistillingcompany"><i class="fa-brands fa-youtube"></i></a>
      </li>
      <li style="--clr:#ffffff;">
        <a href="https://www.tiktok.com/@estancosdc"><i class="fa-brands fa-tiktok"></i></a>
      </li>
      <li style="--clr:#25d366;">
        <a href="https://api.whatsapp.com/send?phone=+593998581721&text=Buen%20día%20deseo%20saber%20sobre"><i class="fa-brands fa-whatsapp"></i></a>
      </li>
    </ul>
  </div>
</div>
