<div class="content">
  <div class="header">
    <img src="../../../assets/reservedRights.png" alt="derechosReservador">
  </div>
  <div class="alert">
    <p>El consumo excesivo de alcohol puede causar daños a su salud</p>
  </div>
  <div class="footer_menu">
    <ul>
      <li style="--i:5;"><a [routerLink]="['/productos']"><span></span> Productos</a></li>
      <li style="--i:4;"><a [routerLink]="['/cocteles']"><span></span> Cocteles</a></li>
      <li style="--i:3;"><a [routerLink]="['/estancos']"><span></span> Estancos</a></li>
      <li style="--i:2;"><a [routerLink]="['/destileria']"><span></span> Destilería</a></li>
      <li style="--i:1;"><a [routerLink]="['/contenidos']"><span></span> Contenidos</a></li>
    </ul>
  </div>
  <div class="separador">
    <img src="../../../assets/separador.png" alt="">
    <a [routerLink]="['/contactanos']"><p>Contáctanos</p></a>
  </div>
  <div class="social_media">
    <ul>
      <li style="--clr:#1877f2;">
        <a href="https://www.facebook.com/EstancosDistillingCompany" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li style="--clr:#c32aa3;">
        <a href="https://www.instagram.com/estancosdistillingcompany/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li style="--clr:#ff0000;">
        <a href="https://www.youtube.com/@estancosdistillingcompany" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </li>
      <li style="--clr:#ffffff;">
        <a href="https://www.tiktok.com/@estancosdc" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
      </li>
      <li style="--clr:#25d366;">
        <a href="https://api.whatsapp.com/send?phone=+593998581721&text=Buen%20día%20deseo%20saber%20sobre" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
      </li>
    </ul>
  </div>
</div>
